/* Fade out current container */
.fade-up-leave {
  opacity: 1;
}

.fade-up-leave-active {
  transition: opacity 0.3s linear;
}

.fade-up-leave-to {
  opacity: 0;
}

/* Fade in the next container */
.fade-up-enter {
  opacity: 0;
}

.fade-up-enter-active {
  transition: opacity 0.3s linear;
}

.fade-up-enter-to {
  opacity: 1;
}